.DS_Store
.ipynb_checkpoints/
.python-version
*__pycache__
*.egg-info
docs/build/*
figures/*.pdf
.vscode/*

build/*

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
*results.xml
